div.container(ng-show="loaded")
  .links
    h5 #[a.back(ui-sref="reviewStatus") #[i] Back to Reviews]

  .scorecard-container
    .challenge-info
      img(src="content/images/swift-logo.png")

      h2 {{scorecard.templateName}}

    .review-info
      p #[strong Submission: ]
        a(ng-href="https://software.{{domain}}{{downloadPath}}{{stats.uploadId}}") {{stats.submissionId}}
      p #[strong Last Modified On:] {{stats.lastModified}}
      p #[strong Reviewer:] {{stats.username}}

    .form-container
      form#review-form(name="editForm", ng-submit="editForm.$valid && submitReviewItems()", role="form", novalidate)
        .scorecard(ng-repeat="q in scorecard.questions")
          h5.topic {{q.topic}}

          p.description {{q.description}}

          p.guideline(ng-if="q.type === 'SELECT_ONE'", ng-repeat="guideline in q.guideline track by $index") {{guideline}}
          p.guideline(ng-if="q.type === 'TEXT'") {{q.guideline}}

          div(ng-form="optionForm", ng-if="q.type === 'SELECT_ONE'")
            select(
              ng-init="q.answer = ''",
              ng-model="q.answer",
              ng-options="num for num in ['0','1','2','3']",
              required,
              name="select",
              ng-class="{required: editForm.$submitted && optionForm.select.$error.required}")

            p.required-message(ng-show="editForm.$submitted && optionForm.select.$error.required") Required

          div(ng-form="textForm", ng-if="q.type === 'TEXT'")
            textarea(
              ng-init="q.answer = ''",
              ng-model="q.answer",
              rows="3",
              required,
              name="text",
              ng-class="{required: editForm.$submitted && textForm.text.$error.required}")

            p.required-message(ng-show="editForm.$submitted && textForm.text.$error.required") Required

          hr(ng-class="{lastHr: $last}")

        button(type="button", ng-click="saveReviewForLater()") Save for Later

        button(type="submit") Save and Mark Complete

        span.clear
